<ons-carousel-item id="caiDrunkenTavern">
    <header>
        <h1>Welcome our Heroes to the Drunken Tavern!</h1>
    </header>
    <div class="player-cards">
    </div>
    <div id="divDrunkenTavernVillain">
        <h2>Misterious Villain</h2>
        <div class="player-cards"></div>
    </div>
    <br>
    <div>
        <ons-button class="btn js-load-game" id="btnSTR">STR</ons-button>
        <ons-button class="btn js-load-game" id="btnSPD">SPD</ons-button>
        <ons-button class="btn js-load-game" id="btnMP">MP</ons-button>
    </div>
    <br>

    <div id="divDrunkenTavernChallenge">
    </div>
</ons-carousel-item>