<ons-carousel-item id="caiDrunkenTavern">
    <header>
        <h1>Drunken Tavern</h1>
    </header>
    <ons-card>
    </ons-card>
    <h4>Welcome to the Drunken Tavern!</h4>
    <ons-button class="btn js-load-game" id="btnSaveGame">Save Game</ons-button>
    <ons-button class="btn js-load-game" id="btnLoadGame">Load Game</ons-button>
    <ons-button class="btn js-load-game" id="btnQuitGame">Quit Game</ons-button>
    <ons-button class="btn js-load-game" id="btnSettings">Settings</ons-button>
    <footer>Please select New Game or swipe right to start a new game.</footer>
</ons-carousel-item>