<ons-carousel-item id="caiNewGame">
    <header>
        <h1>New Game</h1>
    </header>
    <ons-card>

        <h4>Enter your info to start a new game.</h4>
        <table class="player-input-table">
            <tr>
                <td>
                    <div class="input-with-clear">
                        <ons-input input-id="inputPlayerName" placeholder="Name" modifier="underbar"></ons-input>
                        <ons-button id="btnClearName" class="btn" modifier="quiet">x</ons-button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-with-clear"><ons-input input-id="inputPlayerEmail" placeholder="Email"
                            modifier="underbar"></ons-input>
                        <ons-button id="btnClearEmail" class="btn" modifier="quiet">x</ons-button>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <ons-button class="btn" id="btnRoll">Roll</ons-button>
                </td>
            </tr>
        </table>


    </ons-card>
    <footer>Roll the dice to start the game.</footer>
</ons-carousel-item>